* {
  margin: 0;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('/assets/pcn-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 10px;
}

.address {
  text-decoration: none;
}

a {
  color: rgba(69, 182, 254, 0.8);
}

a:link {
  text-decoration: none;
}


.qr {
  height: 100vh;
  width: 100%;
  margin-top: 75px;
}

.arrow {
  /* margin: 50px 0 30px 5%;
  position: relative; */
  position: fixed;
  top: 0;
  left: 0;
  /* right: 0; */
  z-index: 9999;
  background-color: #fff;
  padding: 10px;
  display: inline-block;
}

.arrow--back {
  border-radius: 50%;
  background-color: rgba(71, 71, 71, 0.1);
  height: 30px;
  width: 30px;
  /* padding: 10px; */
  border: none;
}

.popup {
  font-size: 12px;
  margin-top: 10px;
}

.fa-arrow-left {
  color: #fff;
  padding: 6px 0 0;
  height: 50px;
}

.qr--qr {
  text-align: center;
}

.qr--main {
  text-align: center;
}

.qr--scan {
  height: 300px;
  margin: 10% 15% 15%;
  background-color:rgba(71, 71, 71, 0.05);
  border-radius: 5%;
}

.qr--scan--image {
  height: 100%;
  width: 100%;
}

.qr--link {
  background-color: rgba(71, 71, 71, 0.05);
  width: 250px;
  margin: 30px auto 0;
  text-align: center;
}

.qr--link--options {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

i {
  color: #45B6FE;
  text-decoration: none;
  display: inline;
}

.qr--links1, .qr--links2, .qr--links3 {
  text-align: center;
  margin: 0 15px;
}

.search, .share, .copy {
  width: 50px;
  text-align: center;
 }

.qr--button {
  background-color: #45B6FE;
  border: none;
  border-radius: 50%;
  color: #fff;
  border-radius: 5%;
  padding: 10px;
  margin-top: 5%;
}

.error {
  text-align: center;
  height: 100%;
  width: 100%;
  display: block;
  margin-top: 10%;
}

.error--image {
  width: 150px;
  height: 150px;
  border: 6px solid #fff;
  border-radius: 50%;
  background: rgba(69, 182, 254, 0.1);
  box-shadow: 0 0 6px #474747;
  display: block;
  margin: 0 auto 0;
}

.error--input {
  padding: 5%;
  margin: 3% 5% 5% 5%;
  text-align: left;
}

.error--fill {
  margin: -1% 0 1px 0;
  font-size: 13px;
}

strong.error--fill {
  font-size: 20px;
  text-align: left;
}

p.error--fill {
  margin: 15px 0;
  font-size: 13px;
}

.error--button {
  background-color: #45B6FE;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  /* margin: -1.1% 0 3% 81%; */
  padding: 1.5%;
  border-radius: 4px;
}

.error--upload {
  font-size: 13px;
  margin: 15px 0 0;
}

textarea {
  -webkit-box-sizing: none;
  -moz-box-sizing: none;
  box-sizing: none;
  resize: none;	
  width: 100%;
  border: 1px solid rgba(71, 71, 71, 0.25);
  overflow: auto;
  outline: none;
}

.loading {
  margin: 85% 37% auto;
}

.about {
  font-size: 20px;
  height: 100%;
  width: 100%;
  margin-top: 10%;
}

.about--text--info, .about--details {
  font-size: 15px;
}

.about--image {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0px auto 0;
  border-radius: 50%;
}

.about--info {
  text-align: center;
  margin: 10px 0 25px;
}

.about--top--rating {
  display: inline-block;
  margin: 5px;
}

.checked, .fa-star-half-stroke {
  color: #FFD700;
}

.unchecked {
  color: rgba(71, 71, 71, 0.2);
}

.about--about, .about--photos, .about--reviews, .about--ratings {
  margin-left: 30px;
  margin-top: 10px;
}

.about--reviews {
  margin-top: 10px;
}

.about--text--info {
  margin: 15px 40px 20px 0;
}

.about--details {
  margin: 30px 10px 0 30px;
}

.about--pharmacist {
  font-size: 18px;
  margin: 10px 10px 0 30px;
}

.fa-map-marker, .fa-phone, .fa-envelope-o, .fa-clock-o, .fa-user-plus {
  display: inline-block;
}

.fa-map-marker {
  color: red;
}

.fa-phone {
  color: #00FF00;
}

.fa-envelope-o, .fa-clock-o {
  color: black;
}

.address, .telephone, .mail, .availability, .pharmacist {
  margin: -20px 40px 20px 25px;
}

.mail {
  word-wrap: break-word;
}

.about--anonymous {
  text-align: right;
  font-size: 10px;
  color: #474747;
  margin-right: 55px;
}

.about--more {
  font-size: 15px;
  margin: 0 0 20px 30px;
  color: #45B6FE;
  margin-top: 15px;
}

.about--ratings {
  margin-top: 15px
}

.about--rating {
  text-align: center;
  margin-top: 1%;
  padding: 2.5%;
}

.about--rating--bad, .about--rating--great {
  display: inline-block;
  font-size: 11px;
  font-style: italic;
}

.about--rating--great {
  margin-left: 26%;
  margin-right: -3%;
}

.on, .off {
  background-color: transparent;
  border: none;
  outline: none,;
  cursor: pointer;
  padding: 0px 10px;
  letter-spacing: -10px;
}

.on, .filled {
  color: #FFD700;
}

.off, .empty {
  color: rgba(71, 71, 71, 0.5);
}

.about--reviews--post {
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about--fill {
  width: 82%;
  margin: 0px 8% 10px;
}

.about--button {
  background-color: #45B6FE;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  padding: 2%;
  border-radius: 4px;
  opacity: 1;
}

.review {
  font-size: 15px;
  margin: 0 50px;
}

.review--main {
  margin: 0;
  position: fixed;
  top: 0;
  right: 100;
  z-index: 9999;
  background-color: #fff;
  padding-top: 4%;
  padding-right: 36.4%;
  padding-bottom: 4%;
  padding-left: 3%;
  display: inline-block;
}

.review--card, .report--card {
  border: 1px solid rgba(100, 100, 100, 0.1);
  padding: 20px;
  position: relative;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0 rgba(71, 71, 71, 0.1);
}

.review--card {
  margin: 60px -10px 50px;
}

.report--card {
  margin: 0 -10px 50px;
}

.review--card:before, .report--card:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid rgba(71, 71, 71, 0.1);
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(71, 71, 71, 0.1);
  border-bottom: 10px solid transparent;
  left: 20px;
  bottom: -23px;
}

.review--card:after, .report--card:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: 24px;
  bottom: -13px;
}

.review--star {
  margin-bottom: 10px;
}

.review--text {
  font-size: 12px;
  font-weight: 300;
}

.review--anonymous {
  margin-top: 10%;
}

.review--anonymous, .review--time {
  display: block;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
}

.review--time {
  text-align: right;
  margin-top: -10px;
}

.report {
  margin: 0 50px;
  font-size: 15px;
}

.report--main {
  margin: 0 100px 0 0;
  position: fixed;
  top: 0;
  right: 100;
  z-index: 9999;
  background-color: #fff;
  padding-top: 4%;
  padding-right: 70%;
  padding-bottom: 4%;
  padding-left: 3%;
  display: inline-block;
}

.report--form {
  margin: 40px -10px -10px;
  padding: 20px;
  position: relative;
  font-size: 12px;
}

.report--report { 
  font-size: 12px;
  margin: 10% 3% 3% -12%;
}

.report--anonymous {
  text-align: right;
  font-size: 10px;
  color: #474747;
  margin-right: -12%;
}

.report--more {
  margin-bottom: 25px;
  border: none;
  background-color: #fff;
  font-style: italic;
  color: rgba(71, 71, 71, 0.8);
  opacity: 1;
}

.report--more:hover {
  opacity: 0.3;
}

.ratings {
  width: 100%;
}

.ratings--main {
  font-size: 32px;
}

.ratings--info {
  font-size: 15px;
  margin-right: 10%;
}

.ratings--main, .ratings--info {
  margin-left: 8%;
}

.ratings--view--general {
  display: inline-flex;
  margin: 15% 5% 0 30%;
  vertical-align: middle;
}

.ratings--view {
  margin-left: -80px;
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
}

/* .ratings--star {
  margin-left: 0;  
} */
/* .ratings--star--empty .fa-star {
  color: rgba(71, 71, 71, 0.15);
} */

/* Three column layout */
.side {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 15px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 70%;
  border-radius: 15%;
  margin-right: -5%;
}

/* Place text to the right */
.row {
  margin: -5px 3px 0 0px;
  width: 100.5%;
  font-size: 14px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 155px;
  background-color: rgba(71, 71, 71, 0.05);
  color: white;
  border-radius: 15%;
  padding-left: -10px;
}

/* Individual bars */
.bar-5 {width: 80%; height: 13px; background-color: #45B6FE; border-radius: 15px;}
.bar-4 {width: 55%; height: 13px; background-color: #45B6FE; border-radius: 15px;}
.bar-3 {width: 20%; height: 13px; background-color: #45B6FE; border-radius: 15px;}
.bar-2 {width: 15%; height: 13px; background-color: #45B6FE; border-radius: 15px;}
.bar-1 {width: 30%; height: 13px; background-color: #45B6FE; border-radius: 15px;}

/* Desktop */
.signin {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  height: 100vh;
}

.login {
  flex: 3;
  /* display: block; */
  margin-top: 10%;
}

.login--title {
  display: block;
  background-color: #45B6FE; 
  margin: 0 350px;
  padding: 10px;
}


.login--header {
  margin-top: 35px;
  font-size: 25px;
}

.login--input {
  margin-top: 40px;
  display: block;
}

.login--input--input {
  margin-bottom: 30px;
  margin-left: 5px;
  border: 1px solid rgba(71, 71, 71, 0.3);
  height: 35px;
  border-radius: 5px;
  width: 350px;
  padding-left: 10px;
}

.login--admin {
  margin-left: -240px;
  margin-bottom: 10px;
}

.login--password {
  margin-left: -260px;
  margin-bottom: 10px;
}

.login--button {
  background-color: #45B6FE;
  color: #fff;
  border: none;
  padding: 5px 162px;
  border-radius: 4px;
  margin-left: 3px;
}

.login--interact {
  margin: 10px;
}

.checkmark {
  margin-right: 3px;
}

.login--forgot {
  margin: 0 15px;
}

.screen {
  flex: 7.5;
  background-color: #45B6FE;
}

.screen--logo {
  margin: 200px 0 50px;
  height: 150px;
  width: 150px;
}

.screen--info {
  color: #fff;
  margin: 0 100px;
}

@media screen and (min-width: 768px) {
  * {
    margin: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .error--image {
    width: 150px;
    height: 150px;
    border: 6px solid #fff;
    border-radius: 50%;
    background: rgba(69, 182, 254, 0.1);
    box-shadow: 0 0 6px #474747;
    display: block;
    margin: 30px auto 0;
  }

  .error--input {
    display: block;
  }
  
  .error--fill {
    margin-left: 660px;
  }
  
  strong.error--fill {
    font-size: 30px;
  }
  
  .error--button {
    background-color: #45B6FE;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    padding: 5px;
    border-radius: 4px;
  }

  .user {
    height: 100%;
    width: 100%;
  }

  .user--ratings--main, .user--review--main, .user--report--main {
    margin: 30px 30px 15px;
    font-size: 32px;
  }


  .user--ratings--info, .user--review--info, .user--report--info {
    margin-left: 90px;
    font-size: 17px;
  }

  .user--review--review, .user--report--report {
    margin: 30px 0 0 60px;
    width: 80%;
    font-size: 17px;
  }

  .user--review--anonymous, .user--report--anonymous {
    text-align: right;
    margin: 15px 190px 0 0;
  }

  .user--review--all, .user--report--all {
    margin: 20px 0 0 30px;
    font-weight: bolder;
    font-size: 14px;
  }

  .user--qr, .user--photos {
    font-size: 12px;
    font-weight: bolder;
    margin: 25px 0;
  }

  .user--functionalities {
    margin-left: 30px;
  }
  
  .user--photos {
    margin-bottom: 35px;
  }

  .user--ratings {
    margin-top: 50px;
  }

  .ratings--rating {
    margin-right: -10px;
  }

  .ratings--info {
    margin-left: 60px;
  }

  .ratings--view--general 
  {
    text-align: center;
    padding: 3%;
    margin: 0px 20% auto;
  }

  .ratings--view {
    margin-left: px;
  }

  .bar-container {
    width: 350px;
    background-color: #f1f1f1;
    color: white;
    border-radius: 15%;
  }

  .row {
    padding: 10px;
    margin: 0 -50px;
  }

  .side {
    margin-left: 75px;
    margin-right: 10px;
  }

  .bar-5 {width: 30%; height: 13px; background-color: #45B6FE; border-radius: 15%;}
  .bar-4 {width: 80%; height: 13px; background-color: #45B6FE; border-radius: 15%;}
  .bar-3 {width: 20%; height: 13px; background-color: #45B6FE; border-radius: 15%;}
  .bar-2 {width: 15%; height: 13px; background-color: #45B6FE; border-radius: 15%;}
  .bar-1 {width: 15%; height: 13px; background-color: #45B6FE; border-radius: 15%;}

  .dashboard {
    display: flex;
    height: 100%;
    background-color: rgba(71, 71, 71, 0.1);
  }

  .dashboard--sidebar--image {
    text-align: center;
    margin: 10px 0 50px;
  }

  .dashboard--sidebar--avatar {
    height: 100px;
    width: 100px;
  }
  
  .dashboard--sidebar {
    margin-left: 10px;
  }

  .fa-home, .fa-user, .fa-wrench  {
    margin-right: 30px;
    vertical-align: middle;
    padding: 5px;
    color: #000;
  }

  .fa-home {
    margin: 0 15px 0 -3px;
  }

  .fa-user {
    margin: 0 15px 0 -1px;
  }

  .fa-wrench {
    margin: 0 15px 0 -5px;
  }

  .fa-angle-down {
    margin-left: 10px;
    color: #000;
  }

  .sidebar--icon {
    padding: 5px;
  }

  .sidebar--icon:hover, .sidebar--icon--extra:hover {
    background-color: #45B6FE;
    border-radius: 5px;
    color: #fff;
  }

  .fa-home:hover, .fa-user:hover {
    color: #fff;
  }

  .sidebar--modify {
    padding: 5px;
  }

  .sidebar--icon--extra {
    margin: 5px 0;
  }

  .dashboard--sidebar--modify {
    margin-left: 100px;
  }

  .sidebar--icon--extra {
    padding: 3px 10px;
  }

  .dashboard--title {
    font-size: 32px;
    font-weight: 900;
  }

  .dashboard--title--highlight {
    color: #45B6FE;
    font-size: 32px;
    font-weight: 900;
  }
  
  .dashboard--main--search--input, .dashboard--main--search--button {
    border-radius: 30px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  .dashboard--main--search {
    display: inline-block;
    background-color: #fff;
    border-radius: 30px;
    margin-left: 15px;
  }

  input:placeholder-shown {
    font-style: italic;
 }

  .dashboard--main--search--input {
    padding-left: 10px;
  }

  .dashboard--main {
    display: inline;
    vertical-align: middle;
  }

  .dashboard--main--heading {
    background-color: #fff;
    margin: 20px 10px 0 0;
    padding: 10px 0 10px 20px;
    font-size: 24px;
  }

  .dashboard--main--heading--bold {
    font-weight: 500;
  }

  .dashboard--main--table {
    margin-right: 10px;
  }

  table {
    width: 100%;
    margin-top: 50px;
  }

  .dashboard--main--table--info {
    background-color: #fff;
    height: 50px;
  }

  .sidebar {
    flex: 0.75;
    background-color: #fff;
    height: auto;
  }

  .main {
    flex: 5;
    margin: 20px 0 0 5px;
    height: 100%;
  }
}